{* This is the welcome page, you can delete it *}

{block content}

<h1>Vítejte</h1>
<p>NatsuCon je letní setkání pro příznivce Japonska, Korei, her, technologických novinek, cosplaye a dobré zábavy.</p>
{control slider}

{control news}

{/block}
