{contentType application/xml}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{var $now = new DateTime}
<url>
<loc>http://www.natsucon.cz/</loc>
<lastmod>{$now|date:"Y-m-d"}</lastmod>
<changefreq>daily</changefreq>
<priority>0.8</priority>
</url>
{foreach $map as $item}
<url>
<loc>http://www.natsucon.cz/{$item->url}</loc>
<lastmod>{$now|date:"Y-m-d"}</lastmod>
<changefreq>daily</changefreq>
<priority>0.8</priority>
</url>
{/foreach}
</urlset>
