/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2016, 9:16:24 AM
    Author     : yasuri
*/

.obsah {
  font-size: 1rem;
  color: #262626;
  background-repeat: no-repeat;
}

.right {
  padding: 4.1em 17.472em 3.236em 45%;
  background-position: 22% 22%;
}


.center {
  padding:  1.5em 10% 1.5em 10%;
  background-position: 0 50%;
}

.ill_01 {
  
  background-color: white;
  background-position: 22% 10%;
  background-size: 34%;
  background-image: url("../paralax/obr1.jpg");
  background-attachment: inherit;
}

.left {
  padding: 1.618em 50% 3.236em 12.472em;
  background-position: 50% 55%;
}
.ill_02 {
  background-color: #white;
 /* padding: 1.618em 50%   3.236em 9.472em;*/
  background-size: 100% auto;
  color: #262626;
  padding-left: 15em;
  background-image: url("../paralax/obr2.jpg");
  background-attachment: inherit;
}

.ill_03 {
  color: #262626;
   background-position: 75% 10%;
  background-image: url("../paralax/obr3.png");
  background-attachment: inherit;
}

.ill_04 {
    padding: 1.618em 3em 1.618em 12.472em;
}

.separator {
  font-size: 1.275rem;
  background-color:white;
  padding: 0.55em 0;
  padding-top: 1em; 
  text-align: center;
}

.separator h3{
    color:#4284B0;
    margin-bottom: 0;
}

.opacited{
    background-color:rgba(255, 255, 255, 0.9);
    padding: 0.5em 0.75em;
    box-shadow: 0px 0px 10px #010829;

}


@media (max-width: 55em)
{
   .ill_01, .ill_02, .ill_03 { background-image: none;}
   .right, .left, .center {padding: 0.4em;font-size: 1em;}
   .separator {font-size:0.75em; padding:1em;}
   .time-to {font-size: 1.5em; letter-spacing: 0.05em;}
   .time-to span {font-size: 1.6em;}
   .sub-nav a:visited {color:#2087D9;}
   .sub-nav a:hover {color:white;}
   .opacited{
   background-color:transparent;
    padding: 0.5em;
    box-shadow:none;
   }
    
   
   
} 

@media (min-width: 55em){
 
    
}