@import "//fonts.googleapis.com/css?family=Bangers";
/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
        
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Verdana, Geneva, sans-serif;
}

    h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
        color: #2087D9;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 0.9em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: purple; }
a:active { color: #2087A9; }

/**
 * responsive video
 */
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px;
	overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * MicroClearfix
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 80em;
	margin: 0 auto;
}

.header
{
	padding: 0em 0em 0em 0em;
}

.header .mobile-buttons a span {
    border: none;
}

.header .mobile-buttons a:visited {
    color:inherit;
}

.header-heading { float:left; visibility:hidden;}

.header-logo {float:none; margin: 0;
    background: transparent url("../img/logo.png") no-repeat scroll 2em 0.3em / 30% auto; overflow:hidden; height: 3em;}

.header-image {  display:none; width:0px; padding-left: 10em;margin: 0; background: transparent url("../img/buta-head.png") no-repeat scroll 0 -0.8em; overflow:hidden;height: 100px;margin-left:300px;}


.nav-bar-fixed {
    position: static;
    width: 100%;
    top: 0px;
    background-color: #4284B0;
    box-shadow: 0px 0px 10px #010829;
}

.content
{
	overflow: hidden;
	padding: 1em 1.25em;
	background-color: #fff;
}

.main, .aside
{
	margin-bottom: 1em;
}

.footer
{
	color: #fff;
	background: #4284B0;
	padding: 1em 1.25em;
}

.text-center{
    text-align: center;
}


/**
 **
 **  GALLERY
 **
 */   
 
 .popup-gallery{
    width:100%;
    text-align:center;
 
 }
 
.popup-gallery a{
    width: 15em;
    height: 15em;
    overflow:hidden;
}

.popup-gallery a img {
    height: 10em;
    width: auto;
    
}


.program-title{
    width:100%;
    background-color: #4284B0;
    color: #ECF8E0;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em;
}

.program-image{
    line-height:0;
    text-align: center;
    background-color: #ddd;
}

.program-author{
    width:100%;
    background-color: #ECF8E0;
    color: #4284B0;
    font-weight: bold;
    padding: 0.5em;
}

.program-header{
    width:100%;
    overflow:hidden;
}

.div-left{
    width:50%;
    margin:0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
     
}

.div-right {
      margin:0.25em;
      margin-bottom: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;  
}

.div-left{
    float:left;
}



.program-time-place{
    height: auto;
}

.div-left{
    float:left;
}

.div-right{
    text-align:right;
}
/**
* Link picture
*/
a>img {
    border: 2px solid #4284b0;
}

a>img:hover {
    border-color: #003366;
}

.overlay-wrap {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 90%;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

.mfp-close {
    color: #4284B0;
}


/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
        text-align: center;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #4284B0;
	text-decoration: none;
	border-bottom: 1px solid gray;
    font-size: 0.98em;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.social-buttons {
    margin-top: 1em; overflow-x: hidden;
}

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:hover
{
	color: #4284B0;
	background-color: white;
}

.nav a:active
{
	color: white;
	background-color: #2087F9;
}

.breadcrumbs {
    font-size: 0.9em;
    list-style-type: none;
    display: inline-block;
    margin: 1.5em 0 1.5em 0;
    padding: 0px;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs li {
    text-decoration: none;
    float: left;
}

.breadcrumbs li.active {
    font-weight: bold;
    color: #4284B0;
}

.breadcrumbs li+li:before {
    content: '>';
    margin: 0.5em;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #fff !important;
	background-color: green;
}

.btn:focus
{
	color: #fff !important;
	background-color: black;
}

.btn:active
{
	color: #fff !important;
	background-color: red;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.program-list a{
    text-decoration: none;
    
}

.social-buttons span {
    float: left;
    margin-right: 1em;
}

.program-list{
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

.list-time .left{
    width:75%;
    
}


.list-time{
    background-color: #ddd;
    
}

.list-time .right{
    float:right;
    
}

.list-info .left{
    height:auto;
    width: 75%;
}


.list-info .right{
    height:auto;

   
    
    
}


.normal-color,.normal-color th{
    background-color: #4284B0;
    color: white;
    text-align: center;
     border: 0.05em solid white;
}

.pr-slot{
    width: 25%;
    border: 0.05em solid gray;
}



.program-section {
  
    height: 6.1em;

    margin: auto;
}
.program-section .left {
    width: 60%;
    float: left;
    height: 5em;
}
.program-section .right {
    margin-left: 60%;
    width: 40%;
    color: black;
    font-size:4em;
   
    text-align: right;
    padding-top: 0.25em;   padding-bottom: 0.25em;
    background-size: 120%;
    background-position: 50% 50%;   
    background-repeat: no-repeat;
    background-color: #EFF5FB;
}

.list-thumb{
    left: 50%;
    position: absolute;
    margin-left: -10em;
}


.empty-slot{
    background-color: #4284B0;
    border: 0.05em solid #4284B0;
    
}

.day-headline{
 border: 0.05em solid white !important;   
}

.program-table{
    margin-top: 2em;
    max-width: 100%;
    font-size:0.7em;
   
}







.admin-navi a{
    font-size:2em;
    text-decoration: none;
    padding:0.15em;
    margin-top: 0.25em;
}

.main-text{
    text-align: justify;
     margin-top: 0.5em;
}

.list-info{
    padding-top: 2em; padding-bottom: 0; margin-bottom: 0.30em;
}

.list-time{
    font-weight: bold;
    color:#000;
    margin-bottom: 0em;
    padding: 0 0.5em;   
}


.list-title{
    color:#2087D9;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.25em;
    margin-bottom: 0;
}

.list-author{
    color: black;
    font-style: italic;
    font-size: 1em;
}

.headline{
    background-color: #000;
    height: 0.15em;
    margin-bottom: 0;
    margin-top: 0;
    
}

/**
*
* prvky
*/
.news-panel{
   display: inline-block;
   width: 100%;
}

.news-left{
    width: 10%;
    float:right;
    
}
.news-right{
    right: 90%;
}

.news-title{
    font-size:1.9em;
}




.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
 /* height: 40vh; */
 /* background: white;*/
}

.time-to {
  text-align: center;
  font-family: Bangers;
  color: #4284B0;
  font-size: 2em;
  letter-spacing: 2px;
}
.time-to span {
  display: block;
  font-size:2.5em;
  color: #e60000;
}


/**
 * Homepage slider
 */


/**
 * Datepicker
 * Replaced with jquery UI stylesheet.
 * But JQUI SUXXX. Please leave here for future use.
 */
/*
.ui-datepicker {
    background-color: #fff;
    padding: 1em;
    border: 0.1em #4284B0 solid;
    border-radius: 0.2em;
}

.ui-datepicker a {
    color: #4284B0;
    text-decoration: none;
}

.ui-datepicker a:hover {
    text-decoration: underline;
}

.ui-datepicker-header {
    margin-bottom: 1em;
}

.ui-datepicker-next {
    float:right;
    margin-right: 1em;
    cursor: pointer;
}

.ui-datepicker-next:hover {
    text-decoration: underline;
}

.ui-datepicker-prev {
    float:left;
    margin-left: 1em;
    cursor: pointer;
}

.ui-datepicker-prev:hover {
    text-decoration: underline;
}

.ui-datepicker-title {
    font-weight: bold;
    margin: auto;
    width: 50%;
    text-align: center;
}
*/

/**
 * content
 */
.content-title {
    margin-bottom: 0.1em;
}
.content-annotation {
    display: inline-block;
    margin-top:1em;
}

.program-section{
    background-color: #EFF5FB;
    padding: 0.7em;
    padding-top: 0;
}


/**
 * Social
 */
.hp-social-icons {
	margin-bottom: 1em;
        color:#4284B0;
        font-size: 3em;
}
.hp-social-icons .fa {
    
  
    margin-left: 0.15em ;
}
.hp-social-icons a:hover {
    color:#428400;
}

.hp-social-icons a:visited, .hp-social-icons a:link {
            color:#4284B0;
}

/**
 * Flag (see https://github.com/seanherron/Flag-Webicons)
 */
.nav .flag-webicon {
    display: inline-block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 40px;
    height: 12px;
    text-indent: -9999em;
    text-align: left;
}

.nav .flag-webicon.united-kingdom {
    background: url("../img/flag/united-kingdom.svg");
}

.sub-nav a {
    background: white;
    border: 0.1em solid #4284B0;

    
}

.sub-nav a:link {
    color:#4284B0;
    border: 0.1em solid #4284B0;
}

.header{
    text-align: right;
}

.header .fa {
    border: 0.1em solid #2087A9;
    font-size: 1.2em;
    padding: 0.5em;

}




.sub-nav a:hover {
    color:white;
    background-color:#4284B0;
}

.sub-nav{
    background-color: transparent;
        margin-top:1em;
}

.sub-nav a:visited {
    color:#4284B0;
    border: 0.1em solid #4284B0;
}

/*------------------
Grid
-----------------*/
.natsu-grid .top {
   // position:fixed;
}
.natsu-grid .fixed-head {
    //position:fixed;
}

/* -----------------------
Wide styles
------------------------*/



@media (max-width: 44em)
{
    
    .social-buttons{
        display: none;
    }
    
    .program-time-place .div-left,  .program-time-place .div-right {
        width: 100%;
    }
    
    .program-time-place .div-right {
        text-align: left;
    }
    
    .fb-page{
        display: none !important;
    }
    .hp-social-icons {font-size: 1.2em;}
    
    .list-info {font-size: 75%; margin-bottom: 0;padding:0.0045em 0;}
    
    h2 {font-size: 1.5em;}
   
    
    ul.breadcrumbs {display: none;}
   /* .sub-nav .nav {display: inline-block;}*/
   
    .program-list {margin-bottom: 0.0em; border-bottom: 0.15em solid black;}
    .program-section {font-size: 80%;}
    .program-section .right {background-image: none !important;}
    .list-thumb {background-image: none !important; }
    .nav-bar-fixed {display:none;}
    .program-table {font-size: 66%;}
    
        .header-logo:before{
       
       font-weight: bold;
        content: 'NatsuCon'; 
    }
    .header-logo {
        background: none;  
    }
    
     .sub-nav a:hover {color:white;}
    
    .breadcrumbs li+li:before {
    content: '';
    margin: 0em;
   

}
    
}

@media (max-width: 22em)
{
    .program-table {font-size: 35%;} 
    
}

@media (min-width: 44em)
{

    .header{
        display:none;
    }
    

    
    .nav-bar-fixed {
        padding: 0.5em 0em;
        position: fixed;
    }
	.content { padding: 3em 4em; }

    .header-image {
        display: block;
        width: auto;
    }

    .header-logo {
        float: left;
    }

	.main
	{
		float: left;
		width: 65%;
		/*margin-right: 5%;*/
		margin-bottom: 1em;
	}
        
        .full-width{
    width: 100%;
}


	.aside
	{
		float: left;
		width: 30%;
		margin-bottom: 1em;
	}

	.footer { padding: 1em 2em; }
	
	.nav li
	{
		display: inline-table;
		margin: 0 0.15em 0 0;
		padding:0em 0.05em 0em 0em;
	}
	
    .nav a
    {
        display: inline;
        padding: 0.7em 0.5em 0.6em 0.5em;
        margin-top: 0.5em;
        text-decoration:none;
        border-bottom: 0;
    }

 .sub-nav a:link {
    color:#4284B0;
    border: 0.1em solid #4284B0;
}

.sub-nav a:hover {
    color:white;
    background-color:#4284B0;
}

	.fb-page{
      display:block;
    }
}

.natsu-grid {
    padding-top: 20px;
}
.natsu-grid .filters {
    padding: 20px;
}

.program-grid .btn {
    color: white;
}
.program-grid .btn a {
    text-decoration: none;
}
.program-grid .btn a:visited {
    color: white;
}
.program-grid .pair {
    display:inline-block;
    margin: 4px;
}
.program-grid .pair input:not(.btn) {
    height: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.program-grid td.datetime {
    width:100px;
}
.program-grid tr {
    cursor:pointer;
}
.program-grid tr:hover {
    background-color: lightblue;
}

/**
* Program edit form
*/
.program-edit-form textarea {
    max-width: 800em;
    height:80px;
}
.program-edit-form .inputs {
    width: 20em;
    float: left;
    margin-bottom: 2em;
}
.program-edit-form .annotation {
    min-width: 40em;
    padding-left:20em;
    min-height:10em;
}

.program-edit-form textarea {
    width: 100%;
    min-height:16em;
}

.program-edit-form .pair input:not(.btn) {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.program-edit-form .pair {
    margin-bottom: 5px;
}

.program-edit-form .thumb {
    display: inline-block;
    border: 1px solid black;
}
.program-edit-form .thumb img {
    width: 100%;
}
.program-edit-form .addimage {
    background-image: url('/assets/img/plussquare.png');
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:aliceblue;
}
.program-edit-form .images-wrap {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding:0px 20px 20px 20px;
    margin-bottom: 20px;
}
.program-edit-form .images-wrap .label {
    font-size: 0.8em;
    margin-top: 5px;
    color: grey;
    margin-bottom: 10px;
}
