#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague


parameters:
  sectionId: 2016
  programStart: 2016-08-19 17:00:00
  programEnd: 2016-08-21 17:00:00

application:
	errorPresenter: Error
	mapping:
		*: Natsu\*Module\Presenters\*Presenter


extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22


session:
	expiration: 14 days

tracy:
	bar:
		- Dibi\Bridges\Tracy\Panel

services:
	- Natsu\Model\UserManager
	router: Natsu\Router\RouterFactory::createRouter


	#models
	- Natsu\Model\EntityModel

	#controls
	- Natsu\Forms\SignFormFactory
	- Natsu\Forms\ForgetFormFactory
	- Natsu\Forms\NewPassFormFactory
	- Natsu\Control\IMainMenuControlFactory
	- Natsu\Forms\MyAccountFormFactory
	- Natsu\Forms\AttachmentFormFactory
	- Natsu\Forms\RegistrationFormFactory
	- Natsu\Forms\ContentComponentFormFactory
	- Natsu\Forms\PermissionFormFactory

	#presenters
	-
		class: Natsu\Presenters\ContentPresenter
		setup:
			- @\Natsu\Model\EntityModel::setTable("content")
