{* Latte template *}

{block content}


       <div class="nav sub-nav">
    <ul>
        <li><a href="{link Management:users}">Uživatelé </a></li>
        <li><a href="{link Management:pages}">Stránky </a></li>
    </ul>  
       </div>

    <h2>Stránky</h2>
    {control pagesList}