{block content}
 <div class="nav sub-nav">
    <ul>
        <li><a href="{link Management:users}">Uživatelé </a></li>
        <li><a href="{link Management:pages}">Stránky </a></li>
        <li><a href="{link Management:program}">Program </a></li>
        <li><a href="{link Management:upload}">Upload obrázku </a></li>
    </ul>  
       </div>
    <h2>Program</h2>
    {control program}
{/block}
