{* Latte template *}

{block content}
       <div class="nav sub-nav">
    <ul>
        <li><a href="{link Management:users}">Uživatelé </a></li>
        <li><a href="{link Management:pages}">Stránky </a></li>
        <li><a href="{link Management:program}">Program </a></li>
        <li><a href="{link Management:upload}">Upload obrázku </a></li>
        <!--<li><a href="#"> </a></li>-->
    </ul>  
       </div>

    <h2>Uživatelé</h2>
    {control userList}