{* Latte template *}

{block content}

{dump $timetable}

 
   
<table class="program-table">
    <thead class="normal-color">
        <th>Čas</th> 
        {foreach $rooms as $room}
        <th> {$room->title}</th>   
            
        {/foreach}
    </thead>    
    <tbody>
       {foreach $slots as $id => $slot}
           {if $id == 0 || ($slot+7200) % (3600*24) == 0}
               <tr>
                   <td class="normal-color text-center day-headline" colspan="{count($rooms)+1}"><strong>{$slot|date:'l'|translate} {$slot|date:'d.m.Y'}</strong></td>
               </tr>    
           {/if}    
           <tr data-id="{$slot}"> 
               <td class="normal-color">{$slot|date:'G:i'}</td>   
                {var $actualSlot = $slot}
               {foreach $rooms as $room}
                   
                      {var $actualRoom = $room->id}  
                      {if isset($timetable[$actualRoom])}
                        {var $ttRoom = $timetable[$actualRoom]} 
                      {else} 
                          {var $ttRoom = null}   
                      {/if}
                      {if isset($map[$actualRoom][$actualSlot]) && count($map[$actualRoom][$actualSlot]) > 1}
                         <td class="pr-slot conflict" rowspan="1">
                          <strong>!!!Konflikt!!!</strong><br>
                         {foreach $map[$actualRoom][$actualSlot] as $programId}
                              {var $errorProgram = $programs[$programId]}
                              <a href="{if !empty($errorProgram->url)}{$baseUrl}/{$errorProgram->url}{else}{$basePath}/content/view/{$errorProgram->contentId}{/if}"
                                 class="js-overlay-programEdit"
                                 data-overlay-load-url="{plink ProgramAdmin:edit program_id=>$programId}"
                                 data-overlay-reload-selector=".program-table">
                                  {$errorProgram->title}[{$errorProgram->id}]
                              </a><br/>
                              
                           {/foreach}   
                         </td>
                      {elseif isset($ttRoom[$actualSlot]) && count($ttRoom[$actualSlot]) > 1}
                          <td class="pr-slot conflict" >
                            <strong>!!!Konflikt!!!</strong><br>
                          {foreach $ttRoom[$actualSlot] as $program}
                             <a href="{if !empty($program->url)}{$baseUrl}/{$program->url}{else}{$basePath}/content/view/{$program->contentId}{/if}"
                                class="js-overlay-programEdit"
                                data-overlay-load-url="{plink ProgramAdmin:edit program_id=>$program->id}"
                                data-overlay-reload-selector=".program-table">
                                 {$program->title} [{$program->id}]
                             </a>
                              <br/>
                           {/foreach}   
                          </td>
                      {elseif isset($ttRoom[$actualSlot])}
                           {var $program = $ttRoom[$actualSlot][0]}
                           <td class="pr-slot"{if $program->length > 1} rowspan="{$program->length}"{/if}>
                            <div>
                              
                                {dump $ttRoom}
                                <p>
                                    <a href="{if !empty($program->url)}{$baseUrl}/{$program->url}{else}{$basePath}/content/view/{$program->contentId}{/if}">
                                        <strong>{$program->title} </strong>
                                    </a>
                                    <span class="fa {$program->typeIcon}" title="{$program->programType}" ></span>
                                   {if $user->loggedIn && ($user->identity->roleId == 1 || $user->identity->roleId == 2)}
                                       <a href="javascript:void(0);"
                                          class="js-overlay-programEdit fa fa-edit program-edit-btn"
                                          data-overlay-load-url="{plink ProgramAdmin:edit program_id=>$program->id}"
                                          data-overlay-reload-selector=".program-table"></a>
                                   {/if}
                                </p>
                              <p><cite>{$program->author}</cite></p>
                          </div>
                          </td> 
                       {elseif !isset($map[$actualRoom][$actualSlot])}
                         
                              
                           <td class="pr-slot empty-slot">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      {elseif isset($map[$actualRoom][$actualSlot]) && count($map[$actualRoom][$actualSlot]) == 1}     
                      {else}
                            <td class="pr-slot empty-slot">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      {/if}    
                    
                      

                {/foreach}   
           
            </tr> 
        {/foreach}
        
    </tbody>    
    
    
    

</table>
<br><br>
{control customProgram}

    {/block}
