<div class="program-grid" data-load-url="{plink Program:edit}">
    <div class="btn new"><a href="{plink Program:edit}" class="js-new">Nový program</a></div>
    <div class="btn new"><a target="lineup" href="{plink Management:program}" >Lineup</a></div>
    {if $canUserPublish}
        <div class="btn new btn-publish btn-red"><span class="fa fa-gavel"></span> <a title="Publikovat všechen program pro rok {$sectionId}" class="js-publish-section" href="{plink Program:publish-section}">Publikovat {$sectionId}</a></div>
    {/if}
    {control grid}
</div>

{*
<table>
{foreach $data as $d}
<tr>
    <td>{$d->id}</td>
</tr>
{/foreach}
</table>
*}