<div class="program-grid" data-load-url="{plink Program:edit}">
    <div class="btn new"><a href="{plink Program:edit}" class="js-new">Nový program</a></div>
    {control grid}
</div>

{*
<table>
{foreach $data as $d}
<tr>
    <td>{$d->id}</td>
</tr>
{/foreach}
</table>
*}