{* Latte template *}

{block content}

{dump $user->loggedIn}
<h2>Účet</h2>
{if $user->loggedIn && ($user->identity->roleId == 1 || $user->identity->roleId == 2)}
    {control editAccountForm}
{else}
    <p>Operaci nelze provést</p>
{/if}
