{block content}
{if !$user->loggedIn}
<h1 n:block=title>Sign in</h1>

{control signInForm}
{else}
    <p id="logged-in" n:if="$user->loggedIn">Signed in as {$user->identity->nickname}. <a n:href="Sign:out">Sign out</a></p>
{/if}

{* or use {include '../components/form.latte', form => signInForm} *}
