        {* Latte template *}

{block content}
{if !$user->loggedIn}
    <h2>Registrace</h2>

{control registrationForm}
{else}
     <h2>Můj účet</h2>   
     <a href="{$baseUri}/sign/myaccount">Přejít...</a>

{/if}
